{{ if .is_linux -}}
.config/systemd/user/vault-sync.service
.config/systemd/user/vault-sync.timer
{{ end -}}
{{ if .is_mac -}}
Library/LaunchAgents/com.silvrduck.vault-sync.plist
{{ end -}}
.local/bin/vault-sync
